*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  font-family: arial;
}

.switch{
  position: fixed;
  right: 50px;
  top: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  box-shadow: 0 0 0 5px black;
  cursor: pointer;
}
#black{
  flex-basis: 50%;
  background-color: black;
}

#white{
  flex-basis: 50%;
  background-color: white;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
button{
  display: inline;
  max-width: 200px;
  transition: .1s linear;
  border: 2px solid black;
  background-color: #fff;
  font-size: 2rem;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover{
  background-color: black;
  color: white;
}

header{
  margin: 4rem 0 2rem 0;
  text-align: center;
}
header>h1{
  text-transform: uppercase;
  margin: .2rem 0;
  font-size: 5rem;
}
header>div{
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}

.lose{
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  font-size: 0;
  z-index: 2;
  transition: .5s linear all;
}

.lose.active{
  font-size: 3rem;
}

.snake-container{
  display: flex;
  position: relative;
  border: 2px solid black;
  margin: 0 0 2rem 0;
}

.snake-row{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.snake-item.snake-body>div{
  width: 100%;
  height: 100%;
  margin: 0%;
  
  background-size: contain;
}

.snake-item.snake-body.snake-tail>div{
  background: #446e5d;
}

.snake-item.snake-body.prosto-y>div{
  background-image: url('/prostoy.png');
}
.snake-item.snake-body.prosto-x>div{
  background-image: url('/prostox.png');
}

.snake-item.snake-body.gora-prawo>div{
  background-image: url('/gora-prawo.png');
}

.snake-item.snake-body.gora-lewo>div{
  background-image: url('/gora-lewo.png');
}

.snake-item.snake-body.dol-lewo>div{
  background-image: url('/dol-lewo.png');
}

.snake-item.snake-body.dol-prawo>div{
  background-image: url('/dol-prawo.png');
}

.snake-item.snake-body.snake-tail-prawo>div{
  background-image: url('/snake-tail-prawo.png');
}
.snake-item.snake-body.snake-tail-lewo>div{
  background-image: url('/snake-tail-lewo.png');
}
.snake-item.snake-body.snake-tail-dol>div{
  background-image: url('/snake-tail-dol.png');
}
.snake-item.snake-body.snake-tail-gora>div{
  background-image: url('/snake-tail-gora.png');
}

.snake-item.snake-head{
  background: url("snakehead.png");
  background-color: transparent;
  background-size: contain;
  z-index: 1;
}

.snake-item.point{
  background: url("owoc.png");
  background-size: contain;
}

.gora{
  transform: rotate(180deg)
}

.dol{
  transform: rotate(0deg)
}

.prawo{
  transform: rotate(270deg)
}

.lewo{
  transform: rotate(90deg)
}
